.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
   
}


/* ============ COMPONENTS ============ */

.modal-btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
    color: blue;
    cursor: pointer;
}

.modal-btn-dark-theme {
    color: #FFFFFF;
}

.modal-btn-light-theme {
    color: #303030;
}

.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
    /* color:#FFFFFF; */
    color: blue;
    background-color: #FF6C00;
}
 
.suptitle-dark-theme {
    color: rgba(157, 164, 189, 0.6);
}

.suptitle-light-theme {
    color: #303030;
}

.suptitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    
}

.subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}


/* ============ HEADER ============ */
.header {

}

.menu-link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    /* color: #FFFFFF; */
    color: blue;

}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    color: #FF6C00;
}

.phone {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    /* color: #FFFFFF; */
    color: blue;
}


/* ============ HERO ============ */

.social-list-link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.social-list-link:hover,
.social-list-link:active,
.social-list-link:focus {
    color: #FF6C00;
}

.main-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    /* color: #FFFFFF; */
    color: blue;
}

.hero-subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.hero-down-text{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.6);
}

.hero-down-text:hover,
.hero-down-text:active,
.hero-down-text:focus {
    /* color: #FFFFFF; */
    color: blue;
}

/* ============ ABOUT ============ */


.about-title {
    color: #303030;
}

.about-subtitle {
    color: #555555;
}

.about-description {
    color: #555555;
}

/* ============ PRICES ============ */


/* ============ ADVANTAGES ============ */


/* ============ EMPLOYEES ============ */

/* ============ GALLERY ============ */

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* ============ CONTACTS ============ */


  .text {
    background-color: tomato;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }

    .text-text {
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    }
    
  